@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Silkscreen";
    font-weight: 400;
    src: url("/font/Silkscreen-Regular.ttf"); 
}

html{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=), auto;
  color: #fff;
}

button,a{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0, pointer;
}

*{
    font-family: "Silkscreen", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 20px;
}

.scrollbar::-webkit-scrollbar-track { 
  background: #fff;
  border-radius: 25px;
}

.scrollbar::-webkit-scrollbar-thumb { 
  background:#000;
  border-radius: 25px;
}

.layout{
  height: 80vh;
  @media screen and (min-width:560px) {
    height: 75vh;
  }
}

.fix-header{
  width: 100%;
  @media screen and (min-width:560px) {
    width: 400px;
  }
}

.fix-screen{
  height: 75vh;
  @media screen and (min-width:560px) {
    height: 100%;
  }
}

.screen{
  width: 100%;
  height: 100%;
  @media screen and (min-width:560px) {
      width: 400px;
      height: 100%;
  }
}

.screen-1{
  width: 100%;
  height: 100%;
  @media screen and (min-width:560px) {
      width: 400px;
      height: 80vh;
  }
}


.mg{
  top: 40%;
  left: 46%;
  width: 90px;
  transform: rotateY(180deg);
  @media screen and (min-width:560px) {
      top:33%;
      left: 50%;
      width: 70px;
  }
}

.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fff;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #ffffff63;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #fff;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #ffffff63;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }

.responsive{
    height: 250px;
    @media screen and (min-width:560px) {
        height: 160px;
    }
}

.position{
    top: 20%;
    left: 17%;
    @media screen and (min-width:560px) {
        top: 17%;
        left: 21%;
    }
}

.pet{
    width: 90px;
    @media screen and (min-width:560px) {
        width: 70px;
    }
}

.arrow-left{
    top: 32%;
    left: -30px;
    width: 1.3rem;
    height: 1.3rem;
    @media screen and (min-width:560px) {
        top: 32%;
        left: -40px;
        width: 1.2rem;
        height: 1.2rem;
    }
}
.arrow-right{
    top: 32%;
    right: -30px;
    width: 1.3rem;
    height: 1.3rem;
    @media screen and (min-width:560px) {
        top: 32%;
        right: -40px;
        width: 1.2rem;
        height: 1.2rem;
    }
}

.arrow{
  transform: rotateX(180deg);
}

.clear{
  height: 80px;
  @media screen and (min-width: 560px) {
    height: 0;
  }
}

.clean{
  height: 120px;
  @media screen and (min-width: 560px) {
    height: 0;
  }
}

.swap{
  height: 90px;
  @media screen and (min-width: 560px) {
    height: 0;
  }
}

.clean-screen{
  height: 77vh;
  @media screen and (min-width: 560px) {
    height: 72.8vh;
  }
}